@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
    letter-spacing: 0.025rem;
}

.rainbow {
    top: 0;
    width: 100%;
    height: 6rem;
    z-index: -1;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 10s ease infinite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

img {
    vertical-align: middle;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    margin: 1rem 0 3rem;
}

.tagline {
    font-size: 1.25rem;
}

h3 {
    font-weight: 400;
}

.intro {
    padding-top: 2rem;
    width: 75%;
    max-width: 40rem;
    margin: auto;
}

.pic {
    border-radius: 50%;
    width: 50%;
}

#action {
    font-weight: bold;
}

.project {
    display: inline-block;
    width: 90%;
    padding: 1.25rem 5% 0.5rem;
    max-width: 1000px;
}

.icon {
    float: left;
    width: 20%;
}

.icon img {
    width: 100%;
}

.details {
    float: right;
    width: 70%;
    margin: 0 5%;
    text-align: left;
}

.name {
    font-size: 1.75rem;
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.05rem;
    margin-top: -0.65rem;
}

.links a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.links a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.mini {
    margin: 0.5rem 0 0.75rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.description {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.images {
    margin: 1rem 0 0.5rem;
    text-align: center;
}

.images img {
    max-width: 100%;
    max-height: 30rem;
    margin: 0 1rem 1.25rem 0;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.technology, .platform {
    padding: 0.3rem 0.5rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    margin: 0 0.1rem 0.4rem 0;
}

.contacts {
    padding: 0.5rem 0 2rem;
}

.contacts a {
    text-decoration: none;
}

.contacts img {
    width: 4rem;
    padding: 0.5rem;
}

.tags-container {
    width: 100%;
    display: inline-block;
}

.technologies-container, .platforms-container {
    display: inline-block;
    vertical-align: top;
}

.technologies-container {
    width: 65%;
    margin-right: 5%;
}

.platforms-container {
    width: 25%;
}

.footer-top {
    background: url("../images/footer.webp")no-repeat center center;
    background-size: 100%;
    padding: 3rem 0;
}

footer {
    color: white;
}

.footer-top {
    font-size: 1.5rem;
    margin: auto;
}

.footer-bottom {
    font-size: 1rem;
    padding: 2rem 0;
    background-color: #111111;
}

@media screen and (max-width: 50rem) {

    .intro {
        width: 90%;
    }

    .details {
        float: initial;
        width: 100%;
        margin: 0;
    }

    .icon {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    .footer-top {
        padding: 3rem 0;
        font-size: 1rem;
    }

    .contacts img {
        width: 3.5rem;
    }

    .images img {
        max-width: 100%;
    }
}
