@import url('https://fonts.googleapis.com/css?family=Raleway:700,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 0.05rem;
}

img {
    vertical-align: middle;
    user-select: none;
    border: none;
}

h1 {
    font-size: 3rem;
}

h3 {
    padding: 0 15%;
    font-weight: lighter;
}

.project {
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0;
    max-width: 1000px;
}

.icon {
    float: left;
    width: 20%;
}

.icon img {
    width: 100%;
}

.details {
    float: right;
    width: 70%;
    margin: 0 5%;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}

.name {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.date {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.description {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.images img {
    height: 300px;
}

.technologies, .platforms {
    padding: 1rem 0;
}

.technology, .platform {
    padding: 0.3rem 0.5rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.images {
    margin-bottom: 2rem;
}
