@import url('https://fonts.googleapis.com/css?family=Raleway:700,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 0.05rem;
}

img {
    vertical-align: middle;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
}

.intro {
    width: 70%;
    max-width: 600px;
    margin: auto;
}

.pic {
    border-radius: 50%;
    width: 50%;
}

.project {
    display: inline-block;
    width: 90%;
    padding: 1.25rem 5%;
    max-width: 1000px;
}

.icon {
    float: left;
    width: 20%;
}

.icon img {
    width: 100%;
}

.details {
    float: right;
    width: 70%;
    margin: 0 5%;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}

.name {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.mini {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.description {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.images {
    margin: 1rem 0;
}

.images img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 1rem 1.25rem 0;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.technology, .platform {
    padding: 0.3rem 0.5rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    margin: 0 0.1rem 0.4rem 0;
}

.contacts {
    padding: 2rem 0;
}

.contacts a {
    text-decoration: none;
}

table {
    width: 40%;
    margin: auto;
}

table img {
    max-width: 64px;
}

.technologies-container, .platforms-container {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
