# dependencies
/node_modules

# env files
*.env*

# typescript
*.tsbuildinfo

# editor
.vscode

# log files
/logs

# tanstack
/.tanstack
/.output
/.nitro

# app-specific
/public/downloads
/files
/src/redirects.json
/entries
/docs