.DS_Store
node_modules
dist

# env files
.env

# log files
/logs

# next.js
/.next/
/out/

# production
/build

# typescript
*.tsbuildinfo
next-env.d.ts

# editor directories and files
.vscode

# app-specific
/public/downloads
/public/files
/src/redirects.json