<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs"); %>
        <style>
            <%- include(root + "/assets/resume.css"); %>
        </style>
    </head>
    <body>
        <div class="resume">
            <div class="header">
                <div>
                    <a href="mailto:alan@alanmorel.com">alan@alanmorel.com</a> &bull;
                    <a href="https://alanmorel.com">alanmorel.com</a> &bull;
                    <a href="https://www.linkedin.com/in/alanmorel/">linkedin.com/in/alanmorel</a> &bull;
                    <a href="https://github.com/AlanMorel">github.com/AlanMorel</a>
                </div>
                <h1>Alan Morel</h1>
            </div>
            <div class="experience">
                <h2>Experience</h2>
                <div>
                    <strong>Dotdash</strong>, <em>Senior Front End Engineer</em>
                    <span class="date">Feb 2017 &mdash; Present</span>
                </div>
                <ul>
                    <li>
                        Work on an agile team building responsive websites using a component-based front end framework.
                    </li>
                    <li>
                        Collaborate closely with designers, product, QA, and others, to develop beautiful products and
                        features.
                    </li>
                    <li>Mentor other engineers to help bring them up to speed and facilitate knowledge transfer.</li>
                    <li>
                        Pride myself on writing clean, scalable, and maintainable code that is cross-browser compatible.
                    </li>
                    <li>
                        Write technical articles for the company tech blog and documentation on internal Confluence
                        instance.
                    </li>
                    <li>
                        Actively identify, prioritize, and eliminate tech debt to ensure health of codebase remains
                        high.
                    </li>
                    <li>
                        Created and maintain the much-loved "Dashy the Dog" Slack bot in JavaScript, deployed on AWS.
                    </li>
                    <li>Part of engineering team to re-write Dotdash Meredith's site in Vue, Nuxt, and Prismic CMS.</li>
                </ul>
                <div>
                    <strong>Catchpoint</strong>, <em>Front End Engineer Intern</em>
                    <span class="date">May 2015 &mdash; Sep 2015</span>
                </div>
                <ul>
                    <li>
                        Developed Catchpoint’s DEX Sonar chrome extension, available on the Google Web Store. It uses
                        Chrome APIs to asynchronously extract data and display useful metrics about the current tab.
                    </li>
                    <li>Worked with the product team to implement new features on their ASP.NET-based services.</li>
                    <li>
                        Created migration tool in C# to export data from Rally to their new agile development software
                        provider.
                    </li>
                </ul>
                <div>
                    <strong>New York University</strong>, <em>Website Developer</em>
                    <span class="date">Jun 2013 &mdash; Jun 2016</span>
                </div>
                <ul>
                    <li>
                        Led NYU’s new digital diversity efforts, including a new web service which highlights student
                        and faculty excellence, and coordinated directly with university officials to get ideas
                        implemented university-wide.
                    </li>
                    <li>Revamped NYU's online diversity section using their instance of Adobe's Communique 5 CMS.</li>
                </ul>
            </div>
            <div class="projects">
                <h2>Projects</h2>
                <ul>
                    <li>
                        <strong>Sabe.io</strong> is a publisher where I write high-quality classes, tutorials, and
                        resources on web development and tech. My content reaches thousands of people a day across the
                        site and shares on social media.
                    </li>
                    <li>
                        <strong>Mixcurb.com</strong> is a Vue-powered e-commerce platform to discover, buy, and sell
                        music and beats. Content uploaded by users is stored securely on an AWS S3 bucket and served by
                        Amazon Cloudfront.
                    </li>
                    <li>
                        <strong>Aria</strong> is a React front-end CMS designed for private servers of the MMORPG game
                        MapleStory.
                    </li>
                    <li>
                        <strong>WASD With Me</strong> is a Node-powered social network created to meet and play with
                        gamers. The app is deployed on Heroku and uses mutliple different gaming APIs to pull gamer
                        libraries and other data.
                    </li>
                    <li>
                        <strong>Zhigly</strong> is an ASP.NET service aimed at college students that allows you to buy
                        or sell items, browse upcoming events, search for jobs/internships/opportunities, look for
                        housing, and much more.
                    </li>
                    <li>
                        <strong>Trumpulse</strong> is an Angular single-page application that aggregates data from
                        multiple news sources so you can remain an informed and empowered citizen. Available on the web
                        and Google Play for Android.
                    </li>
                </ul>
            </div>
            <div class="skills">
                <h2>Skills</h2>
                <div>
                    Spanish, JavaScript, Nuxt, Next.js, TypeScript, React, Recoil, Vue, Vite, Jest, Node, AWS (S3,
                    CloudFront, Route 53), Docker, Grunt, Webpack, Sass, nginx, Stylelint, Java, Spring Boot, C#,
                    Python, Express, MongoDB, PHP, MySQL, PostgreSQL, Deno, Android, Electron, Storybook, SEO, Cordova,
                    A/B testing
                </div>
            </div>
            <div class="education">
                <h2>Education</h2>
                <div>
                    <strong>New York University</strong>, <em>College of Arts and Science</em>
                    <span class="date">May 2016</span>
                </div>
                <div>Bachelor of Arts in Computer Science, Minor in Web Programming and Applications, 3.61 GPA</div>
            </div>
        </div>
    </body>
</html>
