$tablet: 50rem;

$light-background: #fbfbfb;
$dark-background: #222222;
$light-text: #fefefe;
$dark-text: #1f1f1f;

$dark-icon-fill: #aaa;
$dark-icon-fill-hover: #333;

$light-icon-fill: #555;
$light-icon-fill-hover: #ccc;
