@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
    --font-text:
        "Inter", Open Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

    --transition-duration: 100ms;
    --transition-duration-fast: 650ms;
    --transition-duration-medium: 800ms;
    --transition-duration-slow: 950ms;

    --animate-enter: fade-in 200ms ease-out, scale-up 200ms ease-out;
    --animate-leave: fade-out 150ms ease-in forwards, scale-down 150ms ease-in forwards;
    --animate-fade: fade-in 200ms cubic-bezier(0.41, 0.73, 0.51, 1.02);
    --animate-slide-in: slide-in 400ms cubic-bezier(0.41, 0.73, 0.51, 1.02);
    --animate-fade-in: fade-in 300ms ease-out;
    --animate-fade-out: fade-out 300ms ease-in;
    --animate-enter-centered: fade-in 300ms ease-out, scale-centered 300ms ease-out;
    --animate-leave-centered: fade-out 200ms ease-in, scale-centered-reverse 200ms ease-in;

    --color-dark: #000;
    --color-light: #fff;

    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes scale-down {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.9);
        }
    }

    @keyframes scale-up {
        0% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes slide-in {
        0% {
            transform: translateY(1rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes scale-centered {
        0% {
            transform: translate(-50%, -50%) scale(0.95);
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    @keyframes scale-centered-reverse {
        0% {
            transform: translate(-50%, -50%) scale(1);
        }
        100% {
            transform: translate(-50%, -50%) scale(0.95);
        }
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

[data-theme="dark"] {
    --color-white: #000000;
    --color-black: #ffffff;

    --color-slate-50: #020617;
    --color-slate-100: #0f172a;
    --color-slate-200: #1e293b;
    --color-slate-300: #334155;
    --color-slate-400: #475569;
    --color-slate-500: #64748b;
    --color-slate-600: #94a3b8;
    --color-slate-700: #cbd5e1;
    --color-slate-800: #e2e8f0;
    --color-slate-900: #f1f5f9;
    --color-slate-950: #f8fafc;
}

.highlight {
    background-size: 100% 25%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 0%;
    display: inline-block;
    background-image: linear-gradient(
        182deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0.25) 50%,
        transparent 52%,
        transparent 100%
    );
    padding-bottom: 0.25rem;
}
